@mixin media($size) {
  @media (max-width: #{$size}px) {
    @content;
  }
}

.vozmMain {
  .vozmBlocksBack1 {
    margin: 0 auto;
    display: flex;
    gap: 15px;
    padding: 15px 0;
  }

  .container {
    @include media(450) {
      padding: 2px;
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    max-width: max-content;
    width: 100%;
    gap: 15px;
    a {
      font-weight: 700; 
      font-size: 20px;
      color: #004aad;
      padding: 12px 20px;
      text-transform: uppercase;
      transition: background-color 0.5s ease, transform 0.5s ease;
      border: solid 2px #004aad;
      border-radius: 18px;
      &:hover{
        background-color: #004aad;
        color: white;
        transform: translateX(8px);
      }

      @include media(740) {
        font-size: 15px;
        padding: 7px 10px;
        max-width: 370px;
      }
    }
  }
}

.vozmMain__section1 {
  padding: 40px 0;

  &-h2 {
    font-size: 28px;
    text-align: center;
    font-weight: 700;
    color: rgb(0, 83, 167);

    @include media(750) {
      font-size: 20px;
    }

    @include media(450) {
      font-size: 19px;
    }
  }

  &-p {
    padding-top: 30px;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    max-width: 900px;
    text-align: center;

    @include media(750) {
      font-size: 18px;
      line-height: 20px;
    }

    @include media(450) {
      font-size: 16px;
      line-height: 18px;
    }
  }
}

.vozmMain__section2 {
  padding: 40px 0;
  background: #ebebeb;
  display: flex;
  flex-direction: column;
  gap: 30px;

  .container {
    display: flex;
    flex-direction: column;
    gap: 45px;
  }

  &-h1 {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;

    @include media(550) {
      font-size: 25px;
    }
  }

  &-h3 {
    font-size: 23px;
    font-weight: 700;
    color: rgb(0, 83, 167);
    text-align: center;
  }

  &-p {
    font-size: 19px;
    text-align: center;
    font-weight: 700;
    padding-bottom: 30px;
  }

  &-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 40px;

    @include media(1300) {
      justify-content: center;
      gap: 20px;
    }
  }

  &-card {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    &-img {
      max-width: 300px;
      max-height: 300px;
      width: 100%;
      height: 100%;
      border-top-right-radius: 30px;
      padding-bottom: 10px;
      object-fit: cover;
    }

    &-h4 {
      color: rgb(0, 116, 188);
      font-size: 20px;
      font-weight: 700;
    }
  }

  &-video1 {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;

    video {
      max-height: 400px;
    }
  }
}

.vozmMain__section3 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  padding: 40px 0;

  &-h2 {
    font-size: 25px;
    font-weight: 700;
    color: rgb(0, 81, 157);
    text-align: center;
  }

  &-p {
    font-size: 18px;
    font-weight: 700;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
  }

  &-img {
    max-width: 800px;
    width: 100%;

    @include media(450) {
      max-width: 350px;
    }
  }
}

.vozmMain__section4 {
  padding: 40px 0;

  .container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    @include media(1200) {
      justify-content: center;
    }
  }

  &-block1 {
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include media(1200) {
      align-items: center;
    }

    @include media(420) {
      max-width: 370px;
      width: 100%;
    }

    &-img {
      max-width: 300px;
      width: 100%;
    }

    &-h3 {
      font-size: 25px;
      font-weight: 700;
      color: rgb(0, 122, 193);
    }

    &-p1 {
      color: rgb(98, 98, 98);

      @include media(550) {
        font-size: 15px;
        text-align: center;
        max-width: 390px;
        line-height: 15px;
      }
    }

    .img__span {
      color: rgb(139, 139, 139);
      font-size: 15px;
      font-weight: 400;
    }
  }

  &-block2 {
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    @include media(420) {
      max-width: 370px;
      width: 100%;
    }
    &-img {
      max-width: 450px;
      width: 100%;
      max-height: 300px;
      object-fit: cover;

      @include media(550) {
        max-width: 300px;
        width: 100%;
      }
    }

    .img__span {
      color: rgb(139, 139, 139);
      text-align: center;
      font-size: 15px;
      font-weight: 400;
    }
  }
}

.vozmMain__section5 {
  padding: 40px 0;

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &-block1 {
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include media(1200) {
      align-items: center;
    }

    &-img {
      max-width: 190px;
      width: 100%;
    }

    &-h3 {
      font-size: 25px;
      font-weight: 700;
      color: rgb(0, 122, 193);
    }

    &-p1 {
      color: rgb(98, 98, 98);

      @include media(550) {
        font-size: 15px;
        text-align: center;
        max-width: 390px;
        line-height: 15px;
      }
    }

    .img__box {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;

      @include media(1200) {
        justify-content: center;
      }
    }

    .img__span {
      color: rgb(139, 139, 139);
      font-size: 15px;
      font-weight: 400;
      text-align: center;

      &-block {
        max-width: 200px;
      }
    }
  }

  &-block2 {
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

    &-img {
      max-width: 450px;
      width: 100%;
      max-height: 300px;
      object-fit: cover;

      @include media(550) {
        max-width: 300px;
      }
    }

    .img__span {
      color: rgb(139, 139, 139);
      text-align: center;
      font-size: 15px;
      font-weight: 400;
    }
  }
}

.vozmMain__section6 {
  padding: 40px 0;

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &-block1 {
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include media(1200) {
      align-items: center;
    }

    &-img {
      max-width: 400px;
      width: 100%;

      @include media(550) {
        max-width: 300px;
      }
    }

    &-h3 {
      font-size: 25px;
      font-weight: 700;
      color: rgb(0, 122, 193);
    }

    &-p1 {
      color: rgb(98, 98, 98);

      @include media(550) {
        font-size: 15px;
        text-align: center;
        max-width: 390px;
        line-height: 15px;
      }
    }

    .img__box {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
    }

    .img__span {
      color: rgb(139, 139, 139);
      font-size: 15px;
      font-weight: 400;

      &-block {
        max-width: 200px;
      }
    }
  }

  &-block2 {
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

    &-img {
      max-width: 450px;
      width: 100%;
      max-height: 300px;
      object-fit: cover;

      @include media(550) {
        max-width: 300px;
      }
    }

    .img__span {
      color: rgb(139, 139, 139);
      text-align: center;
      font-size: 15px;
      font-weight: 400;
    }
  }
}

.vozmMain__section7 {
  padding: 40px 0;
  border-bottom: solid 1px black;

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    @include media(1200) {
      justify-content: center;
    }
  }

  &-block1 {
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include media(1200) {
      align-items: center;
    }

    &-img {
      max-width: 500px;
      width: 100%;

      @include media(550) {
        max-width: 300px;
      }
    }

    &-h3 {
      font-size: 25px;
      font-weight: 700;
      color: rgb(0, 122, 193);

      @include media(1200) {
        text-align: center;
      }
    }

    &-p1 {
      color: rgb(98, 98, 98);

      @include media(550) {
        font-size: 15px;
        text-align: center;
        max-width: 390px;
        line-height: 15px;
      }
    }

    .img__box {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;

      @include media(550) {
        max-width: 390px;
        justify-content: center;
      }
    }

    .img__span {
      color: rgb(139, 139, 139);
      font-size: 15px;
      font-weight: 400;

      &-block {
        max-width: 200px;
      }
    }
  }

  &-block2 {
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

    &-img {
      max-width: 450px;
      width: 100%;
      max-height: 300px;
      object-fit: cover;

      @include media(550) {
        max-width: 300px;
      }
    }

    .img__span {
      color: rgb(139, 139, 139);
      text-align: center;
      font-size: 15px;
      font-weight: 400;
    }
  }
}

.vozmSection {
  border-top: solid 1px gray;
}

.vozmMain__section8 {
  padding: 80px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;
  border-bottom: solid 1px black;

  //  gap: 40px;
  h2 {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;

    @include media(550) {
      text-align: center;
      font-size: 20px;
    }
  }
}

/* Общая таблица */
.styled-table {
  border-collapse: collapse;
  width: 80%;
  margin: 20px auto;
  font-size: 16px;
  border: 1px solid #000;
}

/* Заголовок */
.styled-table thead th {
  border: 1px solid #636262;
  padding: 8px 12px;
  background-color: #dbecff;
  font-weight: 700;
  text-align: center;

  @include media(700) {
    font-size: 14px;
  }

  @include media(420) {
    font-size: 13px;
  }
}

/* Ячейки */
.styled-table td {
  border: 1px solid #636262;
  padding: 8px 12px;
  text-align: left;

  @include media(790) {
    padding: 5px 10px;
    font-size: 13px;
  }

  @include media(700) {
    padding: 5px;
    font-size: 13px;
  }

  @include media(620) {
    padding: 3px;
    font-size: 12px;
  }

  @include media(420) {
    font-size: 10px;
    padding: 1px;
  }
}

/* Центрирование числовых значений */
.styled-table td.number {
  text-align: center;
}

.vozmMain__section9 {
  padding: 60px 0;

  .container {
    display: flex;
    flex-direction: column;

    @include media(1200) {
      justify-content: center;
    }
  }

  &-block1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    @include media(1200) {
      align-items: center;
    }

    &-p1 {
      font-size: 25px;
    }

    &-a {
      font-size: 20px;
      // font-weight: 700;
      color: rgb(0, 63, 164);
      background: none;
      border: solid 2px rgb(0, 63, 164);
      padding: 5px 20px;
      border-radius: 50px;
      transition: 0.3s;
      margin-bottom: 30px;

      &:hover {
        background: rgb(0, 63, 164);
        color: white;
      }
    }
  }

  &-block2 {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    &-img {
      max-width: 450px;
      width: 100%;
      max-height: 300px;
      object-fit: cover;

      @include media(550) {
        max-width: 300px;
      }
    }

    .img__span {
      color: rgb(139, 139, 139);
      text-align: center;
      font-size: 15px;
      font-weight: 400;
    }
  }
}

.vozmMain__section10 {
  padding: 60px 0;
  display: flex;
  flex-direction: column;

  .container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    @include media(1200) {
      justify-content: center;
    }
  }

  &-block1 {
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include media(1200) {
      align-items: center;
    }

    &-img {
      max-width: 300px;
      width: 100%;
    }

    &-h3 {
      font-size: 25px;
      font-weight: 700;
      color: rgb(0, 122, 193);
    }

    &-p1 {
      color: rgb(98, 98, 98);

      // padding: 10px;
      @include media(550) {
        font-size: 15px;
        //  text-align: center;
        max-width: 390px;
        line-height: 15px;
      }
    }

    &-p2 {
      padding: 5px;
    }
  }

  &-block2 {
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

    &-img {
      max-width: 450px;
      width: 100%;
      max-height: 300px;
      object-fit: cover;

      @include media(550) {
        max-width: 300px;
      }
    }
  }
}

.vozmMain__section11 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f7fa;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  width: max-content;
  margin: 0 auto;

  @include media(420) {
    max-width: 370px;
    width: 100%;
    padding: 20px;
  }

  h2 {
    font-size: 22px;
    color: #002a5e;
    margin-bottom: 15px;
  }

  ul {
    list-style: none;
    padding-left: 0;
    font-size: 16px;
    color: #333;
    line-height: 1.8;

    li::before {
      content: "•";
      color: #0074d9; // акцентный цвет точки
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    }
  }
}

// .styled-table tbody tr:nth-child(even) {
//   background-color: #be3636;
// }
