@mixin media($size) {
    @media(max-width: #{$size}px) {
        @content;
    }
}

.homeMain {
    &__h2 {
        font-weight: 700;
        text-align: center;
        font-size: 30px;
        margin: 50px 0 30px;
    }



    &__table {
        width: 100%;
        margin: 20px auto;
        width: 800px;

        @include media(1040) {
            width: 800px;
        }

        @include media(830) {
            width: 600px;
        }

        @include media(630) {
            width: 450px;
        }

        @include media(480) {
            width: 370px;
        }

        @include media(400) {
            width: 340px;
        }

        &-element {
            width: 100%;
            border-collapse: collapse;
            height: 100%;

            th,
            td {
                border: 1px solid #ccc;
                padding: 5px;
                text-align: center;
                font-size: 19px;

                @include media(670) {
                    font-size: 15px;
                    line-height: 18px;
                }

                @include media(560) {
                    font-size: 12px;
                    line-height: 13px;
                }

                @include media(450) {
                    font-size: 11px;
                }

                @include media(400) {
                    padding: 1px;
                }
            }

            th {
                font-weight: 700;
                padding: 10px;
                font-size: 23px;

                @include media(670) {
                    font-size: 18px;
                }

                @include media(560) {
                    font-size: 15px;
                }

                @include media(450) {
                    font-size: 14px;
                }
            }

            &-header {
                color: rgb(0, 97, 161);

                width: 150px; // одинаковая ширина для «Цена» и «Комплектация»
            }

            &-h1 {
                color: rgba(0, 120, 200, 0.902); // синий цвет, как заголовок

            }

            &-empty {
                width: 50%; // первые две колонки объединены, занимают половину
            }

            &-imgCell {
                width: 110px;
                // height: 100px;
            }

            &-titleCell {
                width: 100px; // оставшаяся часть из первых двух колонок
                font-weight: 700;
                font-size: 23px;

            }

            &-img {
                // max-width: 200px;
                object-fit: cover;
                width: 100%; // чтобы изображение масштабировалось в ячейке
                border-radius: 1px;


            }
        }
    }

    .priceButton1 {
        padding: 4px 8px;
        background: #6c757d;
        color: white;
        border-radius: 4px;
        cursor: pointer;
         @include media(800) {
            font-size: 10px;
        }
         @include media(630) {
            font-size: 9px;
            padding: 2px 4px;
        } 
         @include media(400) {
            font-size: 7px;
            border-radius: 2px;
        }

    }
    .priceButton2 {
        padding: 4px 8px;
        background: rgba(0, 120, 200, 0.902);
        color: white;
        border-radius: 4px;
        cursor: pointer;
         @include media(800) {
            font-size: 10px;
        }
         @include media(630) {
            font-size: 9px;
            padding: 2px 4px;
        }
         @include media(400) {
            font-size: 7px;
            border-radius: 2px;
        }
    }
}

.home__block2 {
    margin: 50px 0;
    background: #004a807a;
    display: flex;
    flex-direction: column;
    align-items: center;
    // position: relative;
    // padding: 0 0 40px;
    justify-content: center;

    img {
        width: 100%;
        z-index: -999;
        // position: absolute;
        object-fit: cover;
        max-height: 450px;
        object-fit: cover;
    }

    &-h4 {
        color: white;
        font-size: 23px;
        font-weight: 700;
        padding: 30px 0 40px;
        text-transform: uppercase;
        text-align: center;

        // position: absolute;
        // top: 20px;
        @include media(550) {
            font-size: 20px;
        }

        @include media(400) {
            font-size: 15px;
        }
    }

    &-box {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        &-a {
            color: white;
            font-size: 18px;
            font-weight: 700;
            padding: 15px 40px;
            border: solid 2px white;
            border-radius: 30px;
            transition: .2s;
            background: none;

            &:hover {
                background: white;
                color: rgb(0, 83, 191);
                border: solid 2px rgb(0, 83, 191);
            }

            @include media(400) {
                font-size: 15px;
                padding: 10px 30px;
            }
        }
    }
}

.homeMain__box3 {
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include media(1250) {
        justify-content: center;
    }

    &-h3 {
        text-align: center;
        font-size: 25px;
        font-weight: 700;
        padding-bottom: 40px;
    }

    &-card2 {
        max-width: 220px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        justify-content: space-between;

        .homeMain__box3-card2-img {
            border-radius: 50%;
            max-width: 200px;
            height: 200px;
            object-fit: cover;
        }

        p {
            font-size: 16px;
            text-align: center;
            font-weight: 700;
            color: rgb(0, 66, 165);
            text-transform: uppercase;
            line-height: 18px;
        }

        .homeMain__end-button {
            font-size: 18px;
            font-weight: 700;
            color: rgb(0, 63, 164);
            width: max-content;
            margin: 0 auto;
            background: none;
            transition: .3s;

            &:hover {
                color: rgb(0, 89, 255);
                border-bottom: solid 1px rgb(0, 89, 255);

            }
        }

        a {
            font-size: 20px;
            font-weight: 700;
            color: rgb(0, 63, 164);
            width: max-content;
            margin: 0 auto;
            background: none;
            border: solid 2px rgb(0, 63, 164);
            padding: 5px;
            border-radius: 5px;
            transition: .3s;

            &:hover {
                background: rgb(0, 63, 164);
                color: white;
            }
        }
    }
}

.homeBannerText {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    background: rgb(0, 56, 80);
    // background: linear-gradient(to bottom, rgba(0, 56, 80, 0.043) 80%, rgba(255, 255, 255, 0) 10%);

    padding: 30px 0 150px;

    p {
        font-size: 18px;
        color: white;
        font-weight: 700;
        max-width: 700px;
        text-align: center;
        width: 100%;
        z-index: 99;
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 1) 90%);
        // pointer-events: none;
    }
}

.main__h3_card {
    padding-bottom: 25px;
}