@mixin media($size) {
  @media (max-width: #{$size}px) {
    @content;
  }
}

.homeMain {
  &__h2 {
    font-weight: 700;
    text-align: center;
    font-size: 30px;
    margin: 50px 0 30px;
  }

  &__table {
    &-styled {
      border-collapse: collapse;
      margin: 30px auto;
      font-size: 18px;
      // border: 1px solid #000;
      @include media(1050) {
        max-width: 850px;
        width: 100%;
      }
      @include media(950) {
        font-size: 16px;
      }
      @include media(480) {
        font-size: 13px;
      }

      thead th {
        // border: 1px solid #636262;
        padding: 8px 12px;
        background-color: #dbecff;
        font-weight: 700;
        text-align: center;
        @include media(560) {
          font-size: 15px;
        }
        @include media(480) {
          padding: 5px 5px;
        }
        @include media(400) {
          padding: 5px 5px;
          font-size: 14px;
        }
        &:nth-child(2) {
          @include media(560) {
            // font-size: 12px;
            word-break: break-all;
          }
         
        }
      }
      td {
        // border: 1px solid #636262;
        // padding: 10px ;
        width: 340px;
        height: 180px;
        text-align: center;
        @include media(780) {
          // width: 250px;
        }
        // @include media(560) {
        //   width: 150px;
        // }

        img {
          width: 340px;
          height: 100%;
          object-fit: cover;
          @include media(1050) {
            width: 100%;
          }
         
        }
        &:nth-child(1) {
          p {
            position: absolute;
            max-width: 340px;
            z-index: 100;
            top: 70%;
            color: white;
            text-shadow: 2px 2px 4px #000000;

            @include media(1050) {
              width: 250px;
              padding-left: 10px;
            }
            @include media(800) {
              width: 190px;
              font-size: 14px;
            }
            @include media(660) {
              width: 150px;
              padding-left: 15px;
            }
            @include media(480) {
              width: 150px;
              padding-left: 7px;
            }
            @include media(400) {
              font-size: 12px;
              width: 120px;
            }
          }
        }
        &:nth-child(2) {
          position: relative;
          &::after {
            content: "";
            background: #40404057;
            height: 160px;
            width: 1px;
            right: 0;
            position: absolute;
            top: 13px;
          }
        }
        &:nth-child(3) {
         @include media(480) {
          width: 100px;
         }
        }
      }

      tr {
        position: relative;
        &:nth-child(even) {
          td:nth-child(n + 2) {
            background-color: lightgray;
          }
        }


      }
    }
    &-btn {
      color: rgb(0, 83, 191);
      font-size: 18px;
      font-weight: 700;
      padding: 15px 40px;
      border: solid 2px rgb(0, 83, 191);
      border-radius: 30px;
      transition: 0.2s;
      background: none;

      &:hover {
        color: white;
        background: rgb(0, 83, 191);
        border: solid 2px rgb(0, 83, 191);
      }
    }
  }

  &__realProjects {
    .container {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      justify-content: center;
      padding: 30px 0;
    }

    &-title {
      text-align: center;
      font-weight: 700;
      padding: 30px 0;
    }

    &-project1 {
      max-width: 400px;
      width: 100%;
      height: 330px;
      position: relative;
      display: flex;
      align-items: end;
      object-fit: cover;
      justify-content: center;
      cursor: pointer;
      transition: 0.2s;

      @include media(550) {
        max-width: 350px;
        height: 300px;
      }
      @include media(400) {
        max-width: 320px;
        height: 250px;
      }
      &:hover &-list {
        transform: translateY(-50%);
        opacity: 1;
      }
      &:hover {
        background: #00000030;
      }
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -100;
      }
      h3 {
        color: white;
      }
      &-list {
        display: flex;
        flex-direction: column;
        transform: translateY(100%);
        transition: transform 0.6s, opacity 0.2s;
        opacity: 0;

        @include media(550) {
          padding-left: 20px;
        }
        p {
          color: white;
          font-size: 16px;
          text-shadow: 2px 2px 4px #000000;
          span {
            font-weight: 700;
          }
        }
      }
    }
  }
}

.home__block2 {
  margin: 50px 0;
  background: #004a807a;
  display: flex;
  flex-direction: column;
  align-items: center;
  // position: relative;
  // padding: 0 0 40px;

  img {
    width: 100%;
    z-index: -999;
    // position: absolute;
    object-fit: cover;
    max-height: 450px;
    object-fit: cover;
    @include media(650) {
      height: 70vh;
    }
  }

  &-h4 {
    color: white;
    font-size: 23px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;

    // position: absolute;
    // top: 20px;
    @include media(730) {
      font-size: 17px;
    }
  }
  &-subtitle {
    color: white;
    font-size: 17px;
    font-weight: 700;
    padding: 15px 0 0;
    text-transform: uppercase;
    text-align: center;
    @include media(730) {
      font-size: 13px;
      padding: 10px 0 0;
    }
    // position: absolute;
  }

  &-box {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  &-btn {
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 15px 40px;
    border: solid 2px white;
    border-radius: 30px;
    transition: 0.2s;
    background: none;
    height: max-content;
    margin: 20px 0;

    &:hover {
      background: white;
      color: rgb(0, 83, 191);
      border: solid 2px rgb(0, 83, 191);
    }

    @include media(860) {
      font-size: 13px;
      padding: 5px 20px;
      width: max-content;
      width: 100%;
    }
  }
  &-adv {
    @include media(860) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 20px;
    }
    @include media(730) {
      gap: 0;
    }

    li {
      @include media(860) {
        max-width: 320px;
      }
    }

    &-text {
      display: flex;
      align-items: center;
      color: white;
      font-size: 18px;
      padding: 5px 2px;
      font-weight: 700;
      span {
        font-size: 22px;
        font-weight: 700;
      }
      @include media(860) {
        font-size: 16px;
        padding: 0;
      }
    }
    &-subtext {
      font-size: 15px;
      color: white;
      @include media(860) {
        font-size: 13px;
        padding: 0;
      }
    }
  }

  &-content {
    display: flex;
    @include media(860) {
      flex-direction: column;
    }
  }
}

.homeMain__box3 {
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @include media(1250) {
    justify-content: center;
  }

  &-h3 {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 40px;
  }

  &-card2 {
    max-width: 220px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    justify-content: space-between;

    .homeMain__box3-card2-img {
      border-radius: 50%;
      max-width: 200px;
      height: 200px;
      object-fit: cover;
    }

    p {
      font-size: 16px;
      text-align: center;
      font-weight: 700;
      color: rgb(0, 66, 165);
      text-transform: uppercase;
      line-height: 18px;
    }

    .homeMain__end-button {
      font-size: 18px;
      font-weight: 700;
      color: rgb(0, 63, 164);
      width: max-content;
      margin: 0 auto;
      background: none;
      transition: 0.3s;

      &:hover {
        color: rgb(0, 89, 255);
        border-bottom: solid 1px rgb(0, 89, 255);
      }
    }

    a {
      font-size: 20px;
      font-weight: 700;
      color: rgb(0, 63, 164);
      width: max-content;
      margin: 0 auto;
      background: none;
      border: solid 2px rgb(0, 63, 164);
      padding: 5px;
      border-radius: 5px;
      transition: 0.3s;

      &:hover {
        background: rgb(0, 63, 164);
        color: white;
      }
    }
  }
}

.homeBannerText {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  background: rgb(0, 56, 80);
  // background: linear-gradient(to bottom, rgba(0, 56, 80, 0.043) 80%, rgba(255, 255, 255, 0) 10%);

  padding: 30px 0 150px;

  p {
    font-size: 18px;
    color: white;
    font-weight: 700;
    max-width: 700px;
    text-align: center;
    width: 100%;
    z-index: 99;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 20%,
      rgba(0, 0, 0, 1) 90%
    );
    // pointer-events: none;
  }
}

.main__h3_card {
  padding-bottom: 25px;
}
