@mixin media($size) {
    @media(max-width: #{$size}px) {
        @content;
    }
}

.footer {
    background: #002d46;
    padding: 70px 0 40px;



    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // flex-wrap: wrap;

        gap: 30px;

        @include media(1300) {
            flex-wrap: wrap;
            justify-content: center;
        }

        @include media(1040) {
            justify-content: center;
        }

        @include media(400) {
            padding: 10px;
        }


    }

    &__infomain {
        display: flex;
        flex-direction: column;
        gap: 10px;


        &-block {
            display: flex;
            gap: 20px;

            @include media(400) {
                gap: 1px;
            }
        }



        &-box3 {
            display: flex;
            gap: 20px;
            margin-top: 25px;
            align-items: center;
            justify-content: center;

            h3 {
                max-width: 170px;

                @include media(550) {
                    font-size: 16px;
                    max-width: 130px;

                }
            }


            &-h3-3 {
                text-align: center;
            }
        }

        h1 {
            color: white;
            font-weight: 700;
            padding-bottom: 30px;
            text-transform: uppercase;
        }

        h3 {
            color: white;
            font-weight: 700;
        }

        h4 {
            color: white;
            font-weight: 700;

            @include media(480) {
                font-size: 16px;
            }
        }

        h2 {
            color: white;
            font-weight: 700;
            padding-top: 20px;

            text-align: center;



            @include media(480) {
                font-size: 19px;
            }
        }

        p {
            color: white;
            font-size: 16px;
            font-weight: 400;
            max-width: 270px;
            color: white;
            display: flex;
            padding-top: 6px;

            @include media(480) {
                font-size: 15px;

                img {
                    @include media(480) {
                        max-width: 20px;
                        width: 100%;
                    }
                }
            }
        }



    }

    &__a {
        margin-bottom: 20px;
    }

    &__p2 {

        padding-top: 20px;
        border-top: solid 1px white;
    }

    &__logo {
        display: flex;
        flex-direction: column;
    }

    &__block3 {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        max-width: 670px;

        @include media(870) {
            flex-direction: column;
        }

        h3 {
            color: white;
            font-size: 25px;
            padding-bottom: 30px;
            text-align: center;
        }

        p {
            color: white;
            font-size: 20px;
            padding-bottom: 30px;
            text-align: left;
            max-width: 500px;
            text-align: center;
        }

        form {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            max-width: 650px;
            gap: 20px;

            @include media(870) {
                align-items: center;
                flex-direction: column;
            }

            textarea {
                resize: vertical;
                width: 650px;
                height: 300px;
                border: solid 1px rgb(0, 90, 192);
                background: #002d46;
                padding: 10px 15px;
                font-size: 18px;
                font-weight: 400;
                color: white;
                transition: .2s;

                border-radius: 7px;

                @include media(870) {
                    width: 500px;
                }

                @include media(550) {
                    width: 360px;
                    padding: none;
                }

                &:hover {
                    border: solid 1px rgb(0, 132, 255);

                }
            }

            input {
                width: 300px;
                border: solid 1px rgb(0, 90, 192);
                background: #002d46;
                padding: 10px 15px;
                font-size: 18px;
                font-weight: 400;
                color: white;
                border-radius: 7px;
                transition: .2s;

                @include media(550) {
                    width: 360px;
                    padding: none;
                }

                &:hover {
                    border: solid 1px rgb(0, 132, 255);

                }
            }

            button {
                border: solid 1px rgb(0, 90, 192);
                background: #002d46;
                padding: 10px 15px;
                font-size: 18px;
                font-weight: 400;
                color: white;
                border-radius: 7px;
                transition: .2s;

                @include media(870) {
                    max-height: 50px;
                }
            }
        }
    }
}

.ft4 {
    display: flex;
    flex-direction: column;

    @include media(450) {
        width: 180px;
    }

    &__p1 {
        font-weight: 700;
        font-size: 20px;
        padding-top: 10px;

    }

    span {
        display: flex;

    }
}