@mixin media($size) {
   @media(max-width: #{$size}px) {
       @content;
   }
}
 .gMain2{
    padding: 30px;
    h1{
        text-align: center;
        font-weight: 700;
        font-size:38px;
        padding: 20px 0;
     }
    &__section1{
        display: flex;
     flex-wrap: wrap;
     justify-content: center;
     gap: 30px;
     p{
        padding: 10px 0 20px;
     }
     video{
        max-height: 600px;
        max-width: 600px;
        height: 100%;
        @include media(650) {
         max-width: 380px;
         max-height: 450px;
     }
     }
    
    }
   
 }
 .gMain3{
   padding: 30px;
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        max-width: 1000px;
    } 
    &__images{ 
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        align-items: center;
        
    }
   
    &__img1{
        
            height: 200px;
            width: 300px;
            object-fit: cover;
        
    }
    &__h1{
      font-size: 26px;
      text-transform: uppercase;
      font-weight: 700;
      padding: 26px;
    }
 }
 