@import url(fonts.scss);

@mixin media($size) {
    @media(max-width: #{$size}px) {
        @content;
    }
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    font-family: 'Bahnschrift';
    font-weight: 400;
    scroll-behavior: smooth;
    // position: relative;
}

.container {
    max-width: 1350px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    @include media(400) {
        padding: none;
    }
}

// @include media(950) {
//     display: flex;
//    flex-direction: column;
//    align-items: center;
// }



.nav2 {
    display: flex;
    margin: 50px;
    align-items: center;
    @include media(950) {
        margin-top: 100px;
    }
    @include media(660) {
        margin-top: 150px;
    }
    @include media(600) {
        margin-top: 50px;
    }
   
    &__a {
        font-size: 18px;
        font-weight: 700;
        color: rgb(0, 87, 181);
        padding: 7px 40px;
        border: solid 2px rgb(0, 87, 181);
        border-radius: 35px;
        transition: .2s;
        &:hover {
            background: rgb(0, 129, 227);
            color: white;
            border: solid 2px white;

        }
        @include media(950) {
            font-size: 15px;
            padding: 5px 20px;
            line-height: 15px;
        }
    } 
 

    &__p {
        font-size: 18px;
        font-weight: 400;
        @include media(550) {
            font-size: 15px;
            line-height: 15px;
        }
    }
}

.seo{
    display: none;
}

@import url(../../components/Header/Header.scss);
@import url(../../components/VozmMain/VozmMain.scss);
@import url(../../components/Banners/Banners.scss);
@import url(../../components/Footer/Footer.scss);
@import url(../../components/HomeMain/HomeMain.scss);
@import url(../../components/UsMain/UsMain.scss);
@import url(../../components/GaleryMain/GMain.scss);
@import url(../../components/Modal/Modal.scss);
@import url(../../components/Serts/Sert.scss);
@import url(../../components/Contacts/Contacts.scss);