.pdf-link {
  max-width: max-content;
}

.sertificates {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}

.pdf-link img {
  cursor: pointer;
  transition: transform 0.2s ease;
}

.pdf-link img:hover {
  transform: scale(1.1);
}