@mixin media($size) {
  @media (max-width: #{$size}px) {
    @content;
  }
}

.banner {
  position: relative;
  // z-index: -99;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
    height: 110vh;
    object-fit: cover;
    z-index: -999;
  }

  video {
    width: 100%;
    height: 110vh;
    object-fit: cover;
    /* Масштабирование без искажений */
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;

    h1 {
      font-weight: 700;
      font-size: 70px;
      color: white;
      max-width: 1200px;
      text-align: center;
      line-height: 70px;
      text-transform: uppercase;

      @include media(1200) {
        font-size: 60px;
        line-height: 60px;
      }

      @include media(870) {
        font-size: 35px;
        line-height: 30px;
        max-width: 500px;
      }

      @include media(450) {
        font-size: 25px;
        line-height: 30px;
        max-width: 390px;
      }
    }

    &-p2 {
      font-weight: 700;
      font-weight: 400;
      font-size: 22px;
      color: white;
      text-align: center;
      padding: 20px 0 15px;
      max-width: 600px;

      @include media(450) {
        font-size: 20px;
        max-width: 390px;
      }
    }

    h3 {
      text-align: center;
      font-weight: 700;
      font-size: 35px;
      color: white;
      max-width: 1200px;
      text-align: center;
      line-height: 20px;
      text-transform: uppercase;

      @include media(870) {
        font-size: 25px;

        max-width: 500px;
      }
    }

    p {
      font-weight: 400;
      font-size: 22px;
      color: white;
      text-align: center;
      padding: 20px 0 15px;
      max-width: 600px;

      @include media(870) {
        font-size: 19px;
        line-height: 18px;
        max-width: 380px;
      }
    }

    .button1 {
      font-weight: 400;
      font-size: 20px;

      text-align: center;
      padding: 10px 40px;
      margin: 10px;
      border: solid 2px #f3f7fe;
      color: #fff;
      cursor: pointer;
      border-radius: 10px;
      background: none;
      transition: 0.3s;
      &:hover {
        background: #fff;
        color: #5999ff;
        // background: rgb(3, 3, 81);
        box-shadow: 0 0 0 8px #5999ff5f;
      }
    }
    button {
      font-weight: 400;
      font-size: 20px;

      text-align: center;
      padding: 10px 40px;
      margin: 10px;
      border: solid 2px #f3f7fe;
      color: #fff;
      cursor: pointer;
      border-radius: 10px;
      background: none;
      transition: 0.3s;
      &:hover {
        background: #fff;
        color: #5999ff;
        // background: rgb(3, 3, 81);
        box-shadow: 0 0 0 8px #5999ff5f;
      }
    }
  }
}

.mainBanner {
  position: relative;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.8);
  /* Тень */
  margin: 0 auto;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 75%,
      rgba(0, 0, 0, 1) 95%
    );
    pointer-events: none;
  }
}

.vozm__h1 {
  @include media(550) {
    font-size: 50px;
  }
}
